/* body {
	background-color: lightgreen;
}

.register-form {
	width: 50%;
	margin: auto;
}

.login-form {
	width: 50%;
	margin: 10% auto auto auto;
}

input[type=email],
input[type=text],
input[type=password] {
	margin: 1%;
	width: 50%;
	padding: 1%;
	border-radius: 20px;
}

input[type=submit] {
	margin: 1%;
	width: 10%;
	background-color: darkorange;
	color: white;
	border-radius: 20px;
} */